{% extends "base.html" %}

{% load bootstrap3 %}

{% block body_block %}
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

    <form class="form-signin" role="form" method="post" action=".">
        <h2 clas="form-signin-heading">Sign Up Here</h2>

        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button class="btn btn-primary" type="submit" name="submit">Create account</button>
        {% endbuttons %}
    </form>
{% endblock %}
