{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
    {% if user.is_authenticated %}
        <h1>Rnago says... hello {{ user.username }}!</h1>
    {% else %}
        <h1>Rnago says... hello world!</h1>
    {% endif %}
    {% if top_pages %}
        <h1>Top 5 pages:</h1>
        <ul>
            {% for page in top_pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Categories:</h1>
    {% if categories %}
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
{% endblock %}

